@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.btn btn-lg btn-primary{
  color : black;
  background: white;
  hover : red;
}

.nav:hover{
  transform: scale(1.1);
}

.chatbox-list {
  position: fixed;
  bottom: 0;
  right: 0;
}
.chatbox {
  display: inline-block;
  margin-right: 13px;
  position: relative;
}
.chat-mg {
  display: inline-block;
  position: relative;
}
.chat-mg img {
  width: 50px;
  height: 50px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.chat-mg span {
  position: absolute;
  top: -5px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #e44d3a;
  text-align: center;
  font-size: 15px;
  color: #fff;
  line-height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  border-radius: 100px;
}
.chat-mg.bx img {
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.30);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.30);
  -ms-box-shadow: 0 0 15px rgba(0,0,0,0.30);
  -o-box-shadow: 0 0 15px rgba(0,0,0,0.30);
  box-shadow: 0 0 15px rgba(0,0,0,0.30);
}

#fdw-pricing-table {
  margin:0 auto;
  text-align: center;
  width: 928px; /* total computed width */
  zoom: 1;
}

#fdw-pricing-table:before, #fdw-pricing-table:after {
  content: "";
  display: table
}

#fdw-pricing-table:after {
  clear: both
}

/* --------------- */

#fdw-pricing-table .plan {
  font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  background: #fff;
  border: 1px solid #ddd;
  color: #333;
  padding: 20px;
  width: 180px;
  float: left;
  _display: inline; /* IE6 double margin fix */
  position: relative;
  margin: 0 5px;
  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
  box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
}

#fdw-pricing-table .plan:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 10px;
  right: 4px;
  width: 80%;
  top: 80%;
  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
}

#fdw-pricing-table .popular-plan {
  top: -20px;
  padding: 40px 20px;
}

/* --------------- */

#fdw-pricing-table .header {
  position: relative;
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  margin: -20px -20px 20px -20px;
  border-bottom: 8px solid;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
  height: 65px;
  font-size: 15px;
  padding-top: 16%;
}

#fdw-pricing-table .header:after {
  position: absolute;
  bottom: -8px; left: 0;
  height: 3px; width: 100%;
  content: '';

}

#fdw-pricing-table .popular-plan .header {
  margin-top: -40px;
  padding-top: 60px;
}

#fdw-pricing-table .plan1 .header{
  border-bottom-color: #B3E03F;
}

#fdw-pricing-table .plan2 .header{
  border-bottom-color: #7BD553;
}

#fdw-pricing-table .plan3 .header{
  border-bottom-color: #3AD5A0;
}

#fdw-pricing-table .plan4 .header{
  border-bottom-color: #45D0DA;
}

/* --------------- */

#fdw-pricing-table .price{
  font-size: 45px;
}

#fdw-pricing-table .monthly{
  font-size: 13px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #999;
}

/* --------------- */

#fdw-pricing-table ul {
  margin: 20px 0;
  padding: 0;
  list-style: none;
}

#fdw-pricing-table li {
  padding: 10px 0;
}

/* --------------- */

#fdw-pricing-table .signup {
  position: relative;
  padding: 10px 20px;
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background-color: #72ce3f;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  opacity: .9;
}

#fdw-pricing-table .signup:hover {
  opacity: 1;
}

#fdw-pricing-table .signup:active {
  -moz-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
  box-shadow: 0 2px 2px rgba(0,0,0,.3) inset;
}

#fdw-pricing-table .plan1 .signup{
  background: #B3E03F;
}

#fdw-pricing-table .plan2 .signup{
  background: #7BD553;
}

#fdw-pricing-table .plan3 .signup{
  background: #3AD5A0;
}

#fdw-pricing-table .plan4 .signup{
  background: #45D0DA;
}

/* end --------------- */
/* CSS reset */


table {
  border-collapse:collapse;
  border-spacing:0;
}
fieldset,img {
  border:0;
}
address,caption,cite,code,dfn,th,var {
  font-style:normal;
  font-weight:normal;
}
ol,ul {
  list-style:none;
}
caption,th {
  text-align:left;
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:normal;
}
q:before,q:after {
  content:'';
}
abbr,acronym { border:0;
}
section, header{
  display: block;
}
/* General Demo Style */
body{
  font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;

  font-weight: 400;
  font-size: 15px;
  color: #3a2127;
  overflow-y: scroll;
}
a{
  color: #333;
  text-decoration: none;
}
.container{
  width: 100%;
  height: 100%;
  position: relative;
}
.clr{
  clear: both;
}
.container > header{
  padding: 20px 30px 20px 30px;
  margin: 0px 20px 10px 20px;
  position: relative;
  display: block;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
  text-align: center;
}
.container > header h1{
  position: relative;
  color: #498ea5;
  font-weight: 700;
  font-style: normal;
  font-size: 30px;
  padding: 0px 0px 5px 0px;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h1 span{
  font-family: 'Alegreya SC', Georgia, serif;
  font-size: 20px;
  line-height: 20px;
  display: block;
  font-weight: 400;
  font-style: italic;
  color: #719dab;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
.container > header h2{
  font-size: 16px;
  font-style: italic;
  color: #2d6277;
  text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
/* Header Style */
.freshdesignweb-top{
  line-height: 24px;
  font-size: 11px;
  background: rgba(0, 0, 0, 0.05);
  text-transform: uppercase;
  z-index: 9999;
  position: relative;
  box-shadow: 1px 0px 2px rgba(0,0,0,0.2);
}
.freshdesignweb-top a{
  padding: 0px 10px;
  letter-spacing: 1px;
  color: #333;
  text-shadow: 0px 1px 1px #fff;
  display: block;
  float: left;
}
.freshdesignweb-top a:hover{
  background: #fff;
}
.freshdesignweb-top span.right{
  float: right;
}
.freshdesignweb-top span.right a{
  float: left;
  display: block;
}
.freshdesignweb-demos{
  text-align:center;
  display: block;
  line-height: 30px;
  padding: 20px 0px;
}
.freshdesignweb-demos a{
  display: inline-block;
  margin: 0px 4px;
  padding: 0px 4px;
  color: #fff;
  line-height: 20px;
  font-style: italic;
  font-size: 13px;
  border-radius: 3px;
  background: rgba(41,77,95,0.1);
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.freshdesignweb-demos a:hover{
  background: rgba(41,77,95,0.3);
}
.freshdesignweb-demos a.current,
.freshdesignweb-demos a.current:hover{
  background: rgba(41,77,95,0.3);
}
HTML CSS JSResult Skip Results Iframe
EDIT ON
/* by Jamal Hassouni*/
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif !important;
}
section{
  width: 100%;
  height: 100vh;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 140px 0;
}
.card{
  position: relative;
  max-width: 300px;
  height: auto;
  background: linear-gradient(-45deg,#fe0847,#feae3f);
  border-radius: 15px;
  margin: 0 auto;
  padding: 40px 20px;
  -webkit-box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  box-shadow: 0 10px 15px rgba(0,0,0,.1) ;
  -webkit-transition: .5s;
  transition: .5s;
}
.card:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.col-sm-4:nth-child(1) .card ,
.col-sm-4:nth-child(1) .card .title .fa{
  background: linear-gradient(-45deg,#f403d1,#64b5f6);

}
.col-sm-4:nth-child(2) .card,
.col-sm-4:nth-child(2) .card .title .fa{
  background: linear-gradient(-45deg,#ffec61,#f321d7);

}
.col-sm-4:nth-child(3) .card,
.col-sm-4:nth-child(3) .card .title .fa{
  background: linear-gradient(-45deg,#24ff72,#9a4eff);

}
.card::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: rgba(255, 255, 255, .1);
  z-index: 1;
  -webkit-transform: skewY(-5deg) scale(1.5);
  transform: skewY(-5deg) scale(1.5);
}
.title .fa{
  color:#fff;
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius:  50%;
  text-align: center;
  line-height: 100px;
  -webkit-box-shadow: 0 10px 10px rgba(0,0,0,.1) ;
  box-shadow: 0 10px 10px rgba(0,0,0,.1) ;

}
.title h2 {
  position: relative;
  margin: 20px  0 0;
  padding: 0;
  color: #fff;
  font-size: 28px;
  z-index: 2;
}
.price,.option{
  position: relative;
  z-index: 2;
}
.price h4 {
  margin: 0;
  padding: 20px 0 ;
  color: #fff;
  font-size: 23px;
}
.option ul {
  margin: 0;
  padding: 0;

}
.option ul li {
  margin: 0 0 10px;
  padding: 0;
  list-style: none;
  color: #fff;
  font-size: 16px;
}
.card a {
  position: relative;
  z-index: 2;
  background: #fff;
  color : black;
  width: 150px;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  display: block;
  text-align: center;
  margin: 20px auto 0 ;
  font-size: 16px;
  cursor: pointer;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);

}
.card a:hover{
  text-decoration: none;
}

div#nz-div {border-bottom:2px solid red;margin-bottom:40px;display:block;}#nz-div h3.tde {margin:0;font-size:16px;line-height:20px;display:inline-block;text-transform:uppercase;}#nz-div h3.tde:after {content:"";width:0;height:0;border-top:40px solid transparent;border-left:20px solid #EA3A3C;border-bottom:0px solid transparent;border-right:0 solid transparent;position:absolute;top:0px;right:-20px;}#nz-div h3.tde span {background:#EA3A3C;padding:10px 20px 8px 20px;color:white;position:relative;display:inline-block;margin:0;}.sub-cat {display:inline-block;margin:0;line-height:45px;margin-left:100px;float: right;}/* 2 ========================= */#nz-div-2 h3.tde:after {content:"";width:0;height:0;border-top:19px solid transparent;border-left:15px solid #EA3A3C;border-bottom:19px solid transparent;border-right:0 solid transparent;position:absolute;top:0px;right:-15px;}#nz-div-2 h3.tde span {background:#EA3A3C;padding:10px 20px 8px 20px;color:white;position:relative;display:inline-block;margin:0;}#nz-div-2 h3.tde {margin:15px 0;font-size:16px;line-height:20px;text-transform:uppercase;}#nz-div-2 hr {margin:-34px 0px 54px 0px;border: 1px solid red;}/* 3 ========================= */#nz-div-3 h3.tde span {background:#EA3A3C;padding:10px 20px 8px 20px;color:white;position:relative;display:inline-block;margin:0;border-radius:23px 23px 0px 0px;}#nz-div-3 h3.tde {margin:15px 0;border-bottom:2px solid #ea3a3c;font-size:16px;line-height:20px;text-transform: uppercase;}/* 4 ========================= */#nz-div-4 h3.tde:after {content:"";width:0;height:0;border-top:40px solid transparent;border-left:20px solid #EA3A3C;border-bottom:0px solid transparent;border-right:0 solid transparent;position:absolute;top:0px;right:-20px;}#nz-div-4 h3.tde:before {content:"";width:0;height:0;border-width:40px 20px 0px 0px;border-style:solid;border-color:transparent;border-right-color:#EA3A3C;position:absolute;top:0px;left:-20px;}#nz-div-4 h3.tde span {background:#EA3A3C;padding:10px 20px 8px 20px;color:white;position:relative;display:inline-block;margin:0;}#nz-div-4 h3.tde {text-align:center;margin:45px 0;border-bottom:2px solid #ea3a3c;font-size:16px;line-height:20px;text-transform: uppercase;}/* 5 ========================= */#nz-div-5 {text-align:center;}#nz-div-5 h3.tde {display:inline-block;background:#ea3a3c;color:white;height:50px;line-height:50px;padding:0 30px;width:auto;}#nz-div-5 h3.tde span:before {content:'';background:url(https://web.ncnncn.com/wp-content/uploads/2017/06/bgh1l.png);width:80px;height:70px;z-index: -1;}/* ======================================= */.title-comm {color:#fff;font-size:18px;position:relative;margin-top:30px;margin-bottom:30px;font-weight:700;background-color:#fff;text-align:center;}h3.title-comm:before {content:'';position:absolute;top:50%;left:0;right:0;margin-top:0;border-top:2px solid #d0d2d3;z-index:1;display:block;}.title-comm .title-holder {min-width:350px;height:45px;background-color:#56bbe7;height:auto;line-height:45px;padding:0px
20px;position:relative;z-index:2;text-align:center;display:inline-block;min-width:280px;}.title-holder:before {content:"";position:absolute;right:-15px;border-width:0px;bottom:0px;border-style:solid;border-color:#5c9efe transparent;display:block;width:0;height:0;border-top:23px solid transparent;border-bottom:22px solid transparent;border-left:15px solid #56bbe7;}.title-holder:after {content:"";position:absolute;left:-15px;border-width:0px;bottom:0px;border-style:solid;border-color:#5c9efe transparent;display:block;width:0;height:0;border-top:23px solid transparent;border-bottom:22px solid transparent;border-right: 15px solid #56bbe7;}


img {
  height: 180px;
}

.fa{
  margin-left: auto;
  margin-right: auto;
  margin-top: -10%;
  margin-bottom: 10%;
}

.modal-title{
  color: #144ae4;
  font-size: 26px;
  font-weight: bold;
}
