<!--<script src="../../../personalpage/upload.js"></script>-->

<div class="container">
<div class="row mt-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://raw.githubusercontent.com/nmtuyen/modules6_slider/master/anh2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://raw.githubusercontent.com/nmtuyen/modules6_slider/master/anh1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://raw.githubusercontent.com/nmtuyen/modules6_slider/master/anh3.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
  <div class="row mt-5">
    <div class="col-2">
      <div class="input-group">
        <select class="form-select" id="gender" (change)="findByGender()">
          <option selected>Giới tính</option>
          <option value="Nam">Nam</option>
          <option value="Nữ">Nữ</option>
          <option value="Khác">Khác</option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class=" input-group">
        <select class="form-select" id="city" (change)="findByCity()">
          <option selected>Thành Phố</option>
          <option *ngFor="let item of city" value="{{item.name}}">{{item.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-2">
      <div class="range">
        <input type="text" class="form-control" placeholder="Nhập tên" id="name" (change)="findByName()"/>
      </div>
    </div>
    <div class="col-2">
      <div class="form-group col-md-3">
        <button type="submit" class="btn btn-primary" (click)="searchUser()">Tìm kiếm</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="userTest1.length !== 0">
    <h2 class="mt-3">Kết quả tìm kiếm
      <img style=" cursor: pointer" (click)="reloadHome()"
           src="https://img.icons8.com/external-kiranshastry-lineal-color-kiranshastry/64/000000/external-reload-interface-kiranshastry-lineal-color-kiranshastry.png"/>
    </h2>
    <hr>
      <div class="col-3 " *ngFor="let userCCDV of userTest1">
        <a style="text-decoration: none; cursor: pointer"
           [routerLink]="['/usersCCDV/', userCCDV.id]">
          <div class="card text-black mt-3" style="border-radius: 10px">
            <img style="height: 300px; width: 298px ; border-radius: 10px 10px 0px 0px" size=""
                 src="{{userCCDV.avatar}}">
            <div class="card-img-overlay">
              <button class="btn-danger btn-md"
                      style="border-radius: 20px; margin-top: 85%; margin-left: 80%">{{userCCDV.price}}
              </button>
            </div>
            <div class="row pl-3 mb-3">

              <h4 class="col-12 mt-3" style=" color: orangered">{{userCCDV.name}}</h4>
              <div class="col-12">{{userCCDV.description}}</div>
              <div class="col-12">{{userCCDV.requestToPayer}}</div>

            </div>
          </div>
        </a>
      </div>
  </div>
  <div class="row" *ngIf="userTest1.length == 0 && genderIdUs === 'Nữ'">

    <h2 class="mt-3">Gợi ý cho bạn</h2>
    <hr>
    <div class="col-3 " *ngFor="let userCCDV of genderMale">
      <a style="text-decoration: none; cursor: pointer" [routerLink]="['/usersCCDV/', userCCDV.id]">
        <div class="card text-black mt-3" style="border-radius: 10px">
          <img style="height: 300px; width: 298px ; border-radius: 10px 10px 0px 0px" size=""
               src="{{userCCDV.avatar}}">
          <div class="card-img-overlay">
            <button class="btn-danger btn-md"
                    style="border-radius: 20px; margin-top: 85%; margin-left: 80%">{{userCCDV.price}}
            </button>
          </div>
          <div class="row pl-3 mb-3">
            <h4 class="col-12 mt-3" style=" color: orangered">{{userCCDV.name}}</h4>
            <div class="col-12"> {{userCCDV.description}}</div>
            <div class="col-12">{{userCCDV.requestToPayer}}</div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row" *ngIf="userTest1.length == 0 && genderIdUs === 'Nam'">

    <h2 class="mt-3">Gợi ý cho bạn</h2>
    <hr>
    <div class="col-3 " *ngFor="let userCCDV of genderFemale">
      <a style="text-decoration: none; cursor: pointer" [routerLink]="['/usersCCDV/', userCCDV.id]">
        <div class="card text-black mt-3" style="border-radius: 10px">
          <img style="height: 300px; width: 298px ; border-radius: 10px 10px 0px 0px" size=""
               src="{{userCCDV.avatar}}">
          <div class="card-img-overlay">
            <button class="btn-danger btn-md"
                    style="border-radius: 20px; margin-top: 85%; margin-left: 80%">{{userCCDV.price}}
            </button>
          </div>
          <div class="row pl-3 mb-3">
            <!--          <ul class="list-group-flush" style="padding-left: -15px !important;">-->
            <h4 class="col-12 mt-3" style=" color: orangered">{{userCCDV.name}}</h4>
            <div class="col-12">{{userCCDV.description}}</div>
            <div class="col-12">{{userCCDV.requestToPayer}}</div>
            <!--          </ul>-->
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row" *ngIf="userTest1.length == 0">

    <h2 class="mt-4">Mới nhất</h2>
    <hr>
    <div class="col-3 " *ngFor="let userCCDV of usersTopNew">
      <a style="text-decoration: none; cursor: pointer" [routerLink]="['/usersCCDV/', userCCDV.id]">
        <div class="card text-black mt-3" style="border-radius: 10px">
          <img style="height: 300px; width: 298px ; border-radius: 10px 10px 0px 0px" size=""
               src="{{userCCDV.avatar}}">
          <div class="card-img-overlay">
            <button class="btn-danger btn-md"
                    style="border-radius: 20px; margin-top: 85%; margin-left: 80%">{{userCCDV.price}}
            </button>
          </div>
          <div class="row pl-3 mb-3">
            <!--          <ul class="list-group-flush" style="padding-left: -15px !important;">-->
            <h4 class="col-12 mt-3" style=" color: orangered">{{userCCDV.name}}</h4>
            <div class="col-12">{{userCCDV.description}}</div>
            <div class="col-12">{{userCCDV.requestToPayer}}</div>
            <!--          </ul>-->
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="row mt-5" *ngIf="userTest1.length == 0  ">
    <h2>Danh sách</h2>
    <hr>
    <div class="col-3" *ngFor="let userCCDV of usersCCDV| paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" [class.active]="i == currentIndex">
      <a style="text-decoration: none; cursor: pointer" [routerLink]="['/usersCCDV/', userCCDV.id]">
        <div class="card text-black mt-3" style="border-radius: 10px">
          <img style="height: 300px; width: 298px" size=""
               src="{{userCCDV.avatar}}">
          <div class="card-img-overlay">
            <button class="btn-danger btn-md"
                    style="border-radius: 20px; margin-top: 85%; margin-left: 80%">{{userCCDV.price}}</button>
          </div>
          <div class="row pl-3 mb-3">
            <!--          <ul class="list-group-flush" style="padding-left: -15px !important;">-->
            <h4 class="col-12 mt-3" style=" color: orangered">{{userCCDV.name}}</h4>
            <div class="col-12">{{userCCDV.description}}</div>
            <div class="col-12">{{userCCDV.requestToPayer}}</div>
            <!--          </ul>-->
          </div>
        </div>
      </a>
    </div>
  </div>

  <div class="mt-5 d-flex justify-content-center">
    <pagination-controls previousLabel="Trước" nextLabel="Sau" (pageChange)="tabSize($event)">
    </pagination-controls>
  </div>


</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
