<div class="container" style="margin-top: 8%">
  <form [formGroup]="userCCDV">
    <div class="row mt-5">
      <div class="col-3">
        <!--        <div class="card text-black mt-3" style="border-radius: 10px">-->
        <img style="height: 300px; width: 298px; position: center; border-radius: 10px"
             src="{{userCCDV.value.avatar}}">
        <div>
          <ul class="list-group-flush" style="position: center">
            <div *ngIf="userCCDV.value.statusCCDV === 1">
              <h4 class="card-title text-center" style="color: green">Đang sẵn sàng</h4>
            </div>

            <div *ngIf="userCCDV.value.statusCCDV === 2">
              <h4 class="card-title text-center" style="color: red">Đang bận</h4>
            </div>
            <div>
              <i style="color: green" class="card-title text-center">Đã tham gia
                ngày: {{userCCDV.value.createAt | date:'dd/MM/YYYY'}}</i>
            </div>

            <div class="row">
              <!--                <div class="col-2"></div>-->
              <div class="col-3"></div>
              <div class="col-3 text-center" *ngIf="userCCDV.value.linkFb !== null">
                <a id="img" [href]="userCCDV.value.linkFb" style="cursor: pointer">
                  <img src="https://img.icons8.com/fluency/48/000000/facebook-circled.png"/></a></div>
              <div class="col-3 text-center"><a style="cursor: pointer"><img
                src="https://img.icons8.com/fluency/48/000000/instagram-new.png"/></a></div>

              <div class="col-3"></div>
              <!--                <div class="col-2"></div>-->
            </div>

          </ul>
        </div>
        <!--        </div>-->
      </div>
      <div class="col-6">
        <div class="row mt-1">
          <h2 class="card-title">{{userCCDV.value.name}}</h2>
          <div class="row mt-5">
            <div class="row"><h4>Ảnh Nổi Bật </h4></div>
            <div class="row mt-3">
              <div class="col-3" *ngFor="let item of listImg">
                <img
                  [src]="item.image"
                  class="img-thumbnail" alt="...">
              </div>

            </div>
          </div>
        </div>
        <div class="row mt-5">
          <h4>Thông tin</h4>
          <div class="card">
            <div class="card-body">

              <h6 class="card-text"><img style="height: 20px; width: 20px"
                                         src="https://img.icons8.com/emoji/48/000000/red-heart.png"/>Mô
                Tả: {{userCCDV.value.description}}</h6>
              <h6 class="card-text"><img style="height: 20px; width: 20px"
                                         src="https://img.icons8.com/emoji/48/000000/red-heart.png"/>Sở
                thích: {{userCCDV.value.hobby}}</h6>
              <h6 class="card-text"><img style="height: 20px; width: 20px"
                                         src="https://img.icons8.com/emoji/48/000000/red-heart.png"/>Quê
                Quán: {{userCCDV.value.city}}</h6>
              <h6 class="card-text"><img style="height: 20px; width: 20px"
                                         src="https://img.icons8.com/emoji/48/000000/red-heart.png"/>Yêu
                cầu: {{userCCDV.value.requestToPayer}}</h6>
            </div>
          </div>
        </div>

      </div>
      <div class="col-3">
        <div class="card" style="width: 18rem; border-radius: 10px">
          <div class="card-header">
            <h4 class="card-title text-center" style="color: red">{{userCCDV.value.price}}đ/giờ</h4>
          </div>
          <ul class="list-group list-group-flush">
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal"
                    data-bs-whatever="@mdo" (click)="rent1()" *ngIf="userCCDV.value.statusCCDV === 1">Thuê
            </button>
            <button class="btn btn-outline-danger">Donate</button>
            <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModalMessage"
                    (click)="getAllMessageWithLover()">Chat
            </button>

          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
<div *ngIf="idUs !== 0" class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <form [formGroup]="rentForm">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Thông tin phiếu thuê</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-6">
              <h6 class="mt-3">Người cung cấp dịch vụ:</h6>

              <h6 class="mt-3">Ngày Hẹn</h6>


              <h6 class="mt-5">Thời gian bắt đầu hẹn:</h6>

              <h6 class="mt-5">Thời gian muốn thuê::</h6>
            </div>
            <div class="col-6">
              <div class="mt-3">
                <h6>{{userCCDV.value.name}}</h6>
              </div>
              <div class="mt-3">

                <input formControlName="rentDate" id="b" (change)="change1()"
                       *ngIf="((date.getMonth() + 1) > 9) && (date.getDate() > 9)" type="date" min="{{date2}}">

                <input formControlName="rentDate" id="a" (change)="change()"
                       *ngIf="((date.getMonth() + 1) < 10) && (date.getDate() <10)" type="date" min="{{date3}}">

                <input formControlName="rentDate" id="c" (change)="change2()"
                       *ngIf="((date.getMonth() + 1) > 9) && (date.getDate() < 10)" type="date" min="{{date4}}">

                <input formControlName="rentDate" id="d" (change)="change3()"
                       *ngIf="((date.getMonth() + 1) < 10) && (date.getDate() > 9)" type="date" min="{{date5}}">

              </div>
              <div class="mt-3">
                <div *ngIf="rentForm.get('rentDate')?.touched"><p *ngIf="rentForm.get('rentDate')?.errors?.required">
                  Ngày hẹn không được để trống</p></div>
              </div>
              <div class="mt-4" *ngIf="date.getDate() === checkDate.getDate() ">
                <select formControlName="startDate">
                  <option selected disabled>Chọn giờ</option>

                  <option *ngFor="let item of arr1 " value="{{item}}">{{item}} giờ</option>

                </select>


              </div>
              <div class="mt-3"><p *ngIf="rentForm.get('startDate')?.errors?.required">Thời gian bắt đầu không được để
                trống</p></div>
              <div class="mt-3" *ngIf="date.getDate() !== checkDate.getDate() ">
                <select formControlName="startDate">
                  <option selected disabled>Chọn giờ</option>
                  <option *ngFor="let item of arr " value="{{item}}">{{item}} giờ</option>

                </select>
                <div><p *ngIf="rentForm.get('startDate')?.errors?.required">Thời gian bắt đầu không được để trống</p>
                </div>
              </div>

              <div class="mt-3">
                <select formControlName="time" id="price" (change)="checkPrice()">

                  <option selected *ngFor="let item of arr" value="{{item + 1}}">{{item + 1}} giờ</option>
                </select>
                <div><p *ngIf="rentForm.get('time')?.errors?.required">Thời gian thuê không được để trống</p></div>
              </div>
            </div>
          </div>

          <div class="mt-3">Danh sách dịch vụ mở rộng</div>
          <div class="row" *ngFor="let service of listUserService">
            <div class="row" *ngIf="service.service?.typeService === 'Mở rộng'">
              <div class="col-6">
                <input type="checkbox" [value]="service.id"
                       (change)="onCheckboxChange($event)"> {{service.service?.name}}
              </div>
              <div class="col-6">
                <div>{{service.price}} Vnd</div>
              </div>
            </div>
          </div>
          <div class="mt-3">Danh sách dịch vụ cơ bản, miễn phí</div>
          <div class="row" *ngFor="let service of listUserService">
            <div class="row"
                 *ngIf="service.service?.typeService === 'Cơ bản' || service.service?.typeService === 'Miễn phí'">
              <div class="col-6">
                <input type="checkbox" [value]="service.id"
                       (change)="onCheckboxChange($event)"> {{service.service?.name}}
              </div>
              <div class="col-6">
                <div>{{service.price}} Vnd</div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-6">
              <h6>Tổng tiền: </h6>
            </div>
            <div class="col-6">
              {{total}} Vnd
            </div>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Tin nhắn:</label>
            <textarea class="form-control" id="message-text" (change)="changeInput()"></textarea>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
          <button data-bs-toggle="modal" data-bs-target="#exampleModalToggle2" data-bs-dismiss="modal"
                  class="btn btn-primary" (click)="createRent()">Gửi
          </button>
        </div>

      </div>
    </div>
  </form>
</div>

<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2"
     tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Đăng kí thành công.</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h2>Cảm ơn đã sử dụng dịch vụ</h2>
        <h4>Chờ người được thuê phản hồi.</h4>
      </div>
      <div class="modal-footer">




        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close" (click)="checkReset()">Quay về trang chủ</button>




      </div>
    </div>
  </div>
</div>

<!--Modal Message-->
<div class="modal fade" id="exampleModalMessage" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabelMessage">{{user1.name}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="msg_history">
          <div *ngFor="let message2 of allMessage">
            <div class="incoming_msg" *ngIf="message2.sender.id !== idUser">
              <div class="incoming_msg_img">
                <img src="{{message2.sender.avatar}}" style="border-radius: 80px" alt="sunil">
              </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <p>{{message2.content}}</p>
                  <span class="time_date">{{message2.time | date:'dd/MM'}}</span>
                </div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg" *ngIf="message2.sender.id == idUser">
                <p>{{message2.content}}</p>
                <span class="time_date"> {{message2.time | date:'dd/MM'}}</span></div>
            </div>
          </div>
        </div>
        <div class="type_msg">
          <div class="input_msg_write">
            <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
              <input type="text" class="write_msg" placeholder="Type a message" formControlName="content"/>
              <button (click)="onSubmit()" class="msg_send_btn" type="button" data-bs-dismiss="modal"><i
                class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
