
<div id="page-new-hd" class="clearfix">
  <div id="main-content">
    <section class="section section-one container standard-fadeUp">
      <div class="section-heading text-center">
        <h2>Các Bước Để Trở Thành Người Cung Cấp Dịch Vụ</h2>
      </div>
      <div class="section-content">








        <div class="col-box">
          <div class="col-box-left">
            <a  href="//huongdan.haravan.com/pages/6-buoc-bat-dau-voi-haravan/#video_start_1">
              <img class="icon" typeof="foaf:Image" src="//theme.hstatic.net/1000012850/1000535098/14/video_1_ico.png?v=65" alt="Bước 1: Tạo website với Haravan">
            </a>
          </div>
          <div class="col-box-right">
            <h3 class="title"><a href="//huongdan.haravan.com/pages/6-buoc-bat-dau-voi-haravan/#video_start_1">Bước 1: Tạo Tài Khoản Cho Riêng Mình</a></h3>
            <p routerLink="/create" style="cursor: pointer">Truy cập vào Đường dẫn sau đây để tạo một tài khoản của riêng mình</p>
          </div>
        </div>









        <div class="col-box">
          <div class="col-box-left">
            <a  href="//huongdan.haravan.com/pages/6-buoc-bat-dau-voi-haravan/#video_start_2">
              <img class="icon" typeof="foaf:Image" src="//theme.hstatic.net/1000012850/1000535098/14/video_2_ico.png?v=65" alt=" Bước 2: Thêm một nhóm sản phẩm">
            </a>
          </div>
          <div class="col-box-right">
            <h3 class="title"><a href="//huongdan.haravan.com/pages/6-buoc-bat-dau-voi-haravan/#video_start_2"> Bước 2: Đăng nhập vào tài khoản của mình</a></h3>
            <p routerLink="/login" style="cursor: pointer">Truy cập vào đường dẫn đây để bắt đầu đăng nhập với tài khoản của bạn </p>
          </div>
        </div>









        <div class="col-box">
          <div class="col-box-left">
            <a  href="/pages/6-buoc-bat-dau-voi-haravan/#video_start_3">
              <img class="icon" typeof="foaf:Image" src="//theme.hstatic.net/1000012850/1000535098/14/video_3_ico.png?v=65" alt=" Bước 3: Tạo sản phẩm mới">
            </a>
          </div>
          <div class="col-box-right">
            <h3 class="title"><a href="/pages/6-buoc-bat-dau-voi-haravan/#video_start_3"> Bước 3: Trở thành người cung cấp dịch vụ</a></h3>
            <p routerLink="/create" style="cursor: pointer">Đăng Ký trở thành người cung cấp dịch vụ tại đây</p>
          </div>
        </div>









        <div class="col-box">
          <div class="col-box-left">
            <a  href="/pages/6-buoc-bat-dau-voi-haravan/#video_start_4">
              <img class="icon" typeof="foaf:Image" src="//theme.hstatic.net/1000012850/1000535098/14/video_4_ico.png?v=65" alt="Bước 4: Thay đổi giao diện Website">
            </a>
          </div>
          <div class="col-box-right">
            <h3 class="title"><a href="/pages/6-buoc-bat-dau-voi-haravan/#video_start_4">Bước 4: Hoàn thiện các thông tin cần có để trở thành người cung cấp dịch vụ</a></h3>
            <p>Hãy Hoàn thiện những thông tin cơ bản của bạn</p>
          </div>
        </div>









        <div class="col-box">
          <div class="col-box-left">
            <a  href="/pages/6-buoc-bat-dau-voi-haravan/#video_start_5">
              <img class="icon" typeof="foaf:Image" src="//theme.hstatic.net/1000012850/1000535098/14/video_5_ico.png?v=65" alt=" Bước 5: Tạo menu liên kết">
            </a>
          </div>
          <div class="col-box-right">
            <h3 class="title"><a href="/pages/6-buoc-bat-dau-voi-haravan/#video_start_5"> Bước 5: Hãy liên lạc với người bạn thích để thuê người đó làm người yêu của bạn</a></h3>
            <video src="https://www.youtube.com/watch?v=pdYwI3gN8EE" controls="controls">Nội dung 5</video>
          </div>
        </div>









        <div class="col-box">
          <div class="col-box-left">
            <a  href="/pages/6-buoc-bat-dau-voi-haravan/#video_start_6">
              <img class="icon" typeof="foaf:Image" src="//theme.hstatic.net/1000012850/1000535098/14/video_6_ico.png?v=65" alt=" Bước 6: Thay đổi thông tin cửa hàng">
            </a>
          </div>
          <div class="col-box-right">
            <h3 class="title"><a href="/pages/6-buoc-bat-dau-voi-haravan/#video_start_6"> Bước 6: Hãy tìm hiểu đối phương bằng cách liên lạc với họ</a></h3>
            <p> Ex : Giấc mơ của anh chỉ thực hiện được trọn vẹn khi có em bên cạnh.</p>
          </div>
        </div>


      </div>
    </section>
